In [2]:
import pandas as pd
import numpy as np

In [4]:
data = np.random.randint(0, 100, 100)

In [16]:
series = pd.Series(data)

In [18]:
type(series)

pandas.core.series.Series

In [17]:
series.head()

0    20
1    75
2    66
3    61
4    28
dtype: int64

In [6]:
date_frame = pd.DataFrame({'number': data})

In [24]:
_date_frame = pd.DataFrame(data)

In [25]:
_date_frame.head()

    0
0  20
1  75
2  66
3  61
4  28

In [7]:
date_frame.head()

   number
0      20
1      75
2      66
3      61
4      28

In [9]:
date_frame['number'].head()

0    20
1    75
2    66
3    61
4    28
Name: number, dtype: int64

In [10]:
type(date_frame['number'])

pandas.core.series.Series

In [12]:
type(date_frame[['number']])

pandas.core.frame.DataFrame

In [27]:
type(date_frame.number)

pandas.core.series.Series

In [28]:
gender = ['m', 'f']

In [32]:
gender_data = np.random.choice(gender, 100)

In [34]:
gender_data_frame = pd.DataFrame({'gender': gender_data})

In [37]:
contact_data = pd.concat([date_frame, gender_data_frame], axis=1)

In [38]:
contact_data.head()

   number gender
0      20      f
1      75      m
2      66      f
3      61      f
4      28      f

In [50]:
date_frame['add'] = np.random.randn(100)

In [51]:
date_frame.head()

   number       add
0      20 -3.456904
1      75 -0.110018
2      66  0.568852
3      61  0.955164
4      28 -0.776363

In [54]:
date_frame['add_data_frame'] = pd.DataFrame({'b': np.random.randn(100)})

In [55]:
date_frame.head()

   number       add  add_data_frame
0      20 -3.456904        1.185679
1      75 -0.110018       -0.905973
2      66  0.568852        1.097275
3      61  0.955164       -0.359491
4      28 -0.776363        2.144573

In [56]:
del date_frame['add_data_frame']

In [57]:
del date_frame['add']

In [58]:
date_frame.head()

   number
0      20
1      75
2      66
3      61
4      28

In [60]:
_random_date = np.random.randint(0, 1000, 100)
_date_frame = pd.DataFrame({'number': _random_date})

In [62]:
pd.merge(date_frame, _date_frame, how='inner', on=['number']).head()

   number
0      20
1      20
2      75
3      61
4      61

In [65]:
pd.merge(date_frame, _date_frame, how='left', on=['number']).head()

   number
0      20
1      75
2      66
3      61
4      28